body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50% 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #f5f3f4;
}
h1{
    font-weight:900;
    font-size:30px;
    color:#012a4a;
    margin:10px;
    padding-top:15px;
}
p{
    color:#6c757d;
    margin:10px;

}
a{
    background-color:#124559;
    border:1px solid #124559;
    width:350px;
    height:40px;
    margin-left:60px;
    margin-top:60px;
    border-radius:10px;
    color:white;
    padding:50px;
    text-decoration: none;

}